{% extends 'base.html' %}
{% block title %} Welcome, {{ username }} {% endblock %}
{% block content %}

<div class="center">
<p>Welcome, {{ username }}!</p>
    {% autoescape false %}
    <select name="" id="dungeon">
        <option value="">自由镇</option>
        <option value="">诸王之眠</option>
        <option value="">暴富矿区</option>
        <option value="">地渊孢林</option>
        <option value="">围攻帕拉勒斯</option>
        <option value="">阿塔达萨</option>
        <option value="">塞塔里斯神庙</option>
        <option value="">风暴神殿</option>
        <option value="">维克雷斯庄园</option>
        <option value="">托尔达戈</option>
    </select>
    <select name="" id="level">
        <option v-for="item in items" :value="[[item]]">
            [[ item ]]
        </option>
    </select>
    <button id = "confirm_key" type="submit" class="btn btn-success">确定</button>
<!--<p>自由镇</p>-->
<!--<p>诸王之眠</p>-->
<!--<p>暴富矿区</p>-->
<!--<p>地渊孢林</p>-->
<!--<p>围攻帕拉勒斯</p>-->
<!--<p>阿塔达萨</p>-->
<!--<p>塞塔里斯神庙</p>-->
<!--<p>风暴神殿</p>-->
<!--<p>维克雷斯庄园</p>-->
<!--<p>托尔达戈</p>-->
    <table class="table" id = "key_table">
        <thead>
            <tr>
                <th>副本</th>
                <th>等级</th>
                <th>用户</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endautoescape %}
</div>
{% endblock %}
