select {
    height: 30px;
    width: 120px;
}
.center {
    text-align: center;
}
.right{
    text-align: right;
}
.page_margin{
    margin: 10px 30px 10px 30px;
}
#key_table_wrapper{
    width: 50%;
    margin: 30px auto 15px auto;
}
.key-input{
    width: 120px;
    display: inline-block;
}
.inline{
    display: inline;
}
.logout{
    margin-left: 5px;
    color: #23527c;
    font-weight:bold;
}
.block{
    display:block;
}
.top input[type=search] {
    -webkit-appearance: textarea;
}