{% extends 'base.html' %}
{% block title %} Eledim's Blog {% endblock %}
{% block css %}
    <link rel="stylesheet" href='{{ url_for("static", filename="css/blog.css")}}'>
{% endblock %}
{% block content %}
    {% include 'top.html' %}
<!--    <div>-->
<!--        <div class="head_block">文章</div>-->
<!--        <hr>-->
<!--    </div>-->
    <div>
        <div class="title"></div>
        <div class="content_text"></div>
    </div>
{% endblock %}
{% block js %}
    <script src='{{ url_for("static", filename="js/article.js") }}'></script>
{% endblock %}